body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

main {
    text-align: center;
    padding: 50px 20px;
}

.container {
    background-color: #fff;
    padding: 30px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
  }
  
  .form label {
    font-size: 12px;
    color: #888;
    text-transform: uppercase;
    margin-right: 10px;
  }
  
  .form input,
  .form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  .form textarea {
    resize: none;
    height: 100px;
  }

  .form div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-primary {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #333;
}

.btn-secondary {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}

.btn-secondary:hover {
    background-color: #f0f0f0;
}
