<div class="services-container">
   <h1>MY SERVICES</h1>
   <div>
      <div class="available">
         <label>Availability:</label>
         <label class="price">Price Range:</label>
      </div>
   </div>
   <div class="filters">
      <input type="text" name="search" placeholder="Search.." [(ngModel)]="searchTerm"(input)="filterAndSearch()"/>
      <select [(ngModel)]="selectedCategory" (change)="filterAndSearch()">
         <option value="">All Categories</option>
         <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
      </select>
      <select [(ngModel)]="selectedEventType" (change)="filterAndSearch()">
         <option value="">All Event Types</option>
         <option *ngFor="let type of eventTypes" [value]="type.id">{{ type.name }}</option>
      </select>
      <select [(ngModel)]="selectedAvailable" (change)="filterAndSearch()">
         <option [ngValue]="'all'">All</option>
         <option [ngValue]="true">Available</option>
         <option [ngValue]="false">Not Available</option>
      </select>
      <div class="price-slider">
        <mat-slider class="price-slider"
            min="0"
            [max]="maxServicePrice"
            step="1"
            discrete>
            <input matSliderStartThumb [(ngModel)]="selectedMinPrice" aria-label="Minimum Price" (ngModelChange)="filterAndSearch()" />
            <input matSliderEndThumb [(ngModel)]="selectedMaxPrice" aria-label="Maximum Price" (ngModelChange)="filterAndSearch()" />
         </mat-slider>
      </div>
   </div>
   <div class ="priceRange">
      <span>{{ selectedMinPrice }} - {{ selectedMaxPrice }} RSD</span>
   </div>
   <div class="services-grid">
      <div class="service-card" *ngFor="let service of displayedServices" (click)="goToEditService(service)">
      <img [src]="getServiceImage(service)" alt="Service image" />
      <h3>{{ service.name }}</h3>
      <p>Price: {{ service.price }} RSD</p>
      <p>Category: {{ getCategoryName(service) }} </p>
      <p>Event Type: {{ getEventTypeNames(service) }}</p>

   </div>
   <button id="add" (click)="goToAddService()">+</button>
   <div class="pagination">
      <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">&lt;</button>
      <button *ngFor="let page of totalPages" [class.active]="page === currentPage" (click)="changePage(page)">
      {{ page }}
      </button>
      <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages.length">
      &gt;
      </button>
   </div>
</div>