<div class="add-service-container">
  <h1>Add New Service</h1>
  <div class="choose"> Choose Event Types</div>
  <div class="event-types">
     <div
     *ngFor="let type of eventTypes"
     class="event-card"
     [class.selected]="type.selected"
     (click)="toggleEventType(type)"
     >
     {{ type.name }}
  </div>
</div>
<div class="service-info">
  <div class="form-container">
     <div class="form-row">
        <label for="serviceName">Name of Service</label>
        <input id="serviceName" type="text" [(ngModel)]="serviceName" placeholder="Enter name of Service"/>
        <label for="price">Price</label>
        <input id="price" type="number" placeholder="Enter price" [(ngModel)]="price" />
        <label for="discount">Discount (%)</label>
        <input id="discount" type="number" placeholder="Enter discount" [(ngModel)]="discount" />
     </div>
     <div class="form-row" id="description">
        <label for="serviceDescription">Description of Service</label>
        <textarea id="serviceDescription" placeholder="Enter description of Service" [(ngModel)]="serviceDescription"></textarea>
     </div>
  </div>
  <div class="service-settings">
      <label for="serviceDuration">Service Duration</label>
      <div class="duration-settings">
         <label>Choose Duration Type:</label>
         <div>
            <label>
               <input type="radio" [(ngModel)]="durationType" value="fixed" />
               Fixed Duration (Hours/Minutes)
            </label>
            <label>
               <input type="radio" [(ngModel)]="durationType" value="range" />
               Engagement Range (Min/Max Hours)
            </label>
         </div>
      </div>

      <div class="duration-inputs">
         <div *ngIf="durationType === 'fixed'" class="duration-group" id="fixedDuration">
            <label for="hours">Hours:</label>
            <input type="number" id="hours" placeholder="0" [(ngModel)]="durations.hours" />
            <label for="minutes">Minutes:</label>
            <input type="number" id="minutes" placeholder="0" [(ngModel)]="durations.minutes" />
         </div>

         <div *ngIf="durationType === 'range'" class="duration-group" id="rangeDuration">
            <label for="minEngagement">Min Engagement (Hours):</label>
            <input type="number" id="minEngagement" placeholder="min 1 hour" [(ngModel)]="durations.minEngagement" />
            <label for="maxEngagement">Max Engagement (Hours):</label>
            <input type="number" id="maxEngagement" placeholder="max 5 hours" [(ngModel)]="durations.maxEngagement" />
         </div>
      </div>

     <div id="due">
        <label for="reservationDue">Reservation Due (in Days):</label>
        <input type="number" id="reservationDue" [(ngModel)]="reservationDue" />
        <label for="cancellationDue">Cancellation Due (in Days):</label>
        <input type="number" id="cancellationDue" [(ngModel)]="cancellationDue" />
     </div>
  </div>
  <div class="form-section">
     <div *ngIf="showCategoryPopup" class="popup">
        <h3>Add New Category</h3>
        <div id="newCategory"><input type="text" [(ngModel)]="newCategoryName" placeholder="Category Name" /></div>
        <textarea [(ngModel)]="newCategoryDescription" id="newDescription" placeholder="Category Description"></textarea>
        <div class="popup-buttons">
           <button (click)="addCategory()">Add</button>
           <button (click)="closeCategoryPopup()">Cancel</button>
        </div>
     </div>
     <div class="dropdown-section">
         <label for="category">Choose Service Category</label>
         <select id="category" [(ngModel)]="selectedCategory" (change)="onCategoryChange($event)">
            <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
         </select>

         <button class="add-category-button" (click)="toggleCategoryPopup()">+ Add Category</button>
     </div>
     <div class="image-upload">
        <h4>Upload Images</h4>
        <input type="file" id="fileInput" (change)="onFileSelect($event)" multiple />
        <div class="image-previews">
           <div *ngFor="let image of uploadedImages; let i = index" class="image-preview">
              <img [src]="image" alt="Uploaded Image" />
              <button (click)="removeImage(i)">Remove</button>
           </div>
        </div>
     </div>
        <div class="toggle-item">
           <span>Service Availability</span>
           <label class="switch">
           <input type="checkbox" [(ngModel)]="isAvailable" />
           <span class="slider round"></span>
           </label>
        </div>
  </div>
  <div class="buttons">
     <button (click)="onCreate()">Create</button>
     <button (click)="onCancel()">Cancel</button>
  </div>
</div>