<nav class="navbar">
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <ng-container *ngIf="isLoggedIn; else guestLinks">
      <li><a routerLink="/all-events">Events</a></li>
      <li *ngIf="user?.role === 'EventOrganizer'">
        <a routerLink="/my-events">My Events</a>
      </li>
      <li><a routerLink="/event-types">Event Types</a></li>
      <li><a routerLink="/calendar">Calendar</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a (click)="logout()">Log Out</a></li>
    </ng-container>
    <ng-template #guestLinks>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/registration">Register</a></li>
    </ng-template>
  </ul>
</nav>
