.navbar {
  background-color: #f5f5f5;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo img {
  height: 70px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
  font-weight: normal;
  transition: font-weight 0.2s ease-in-out;
}

.navbar ul li a.active {
  font-weight: bold;
}

.navbar ul li a:hover {
  font-weight: bold;
}
