.product-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.product-header h1 {
  font-size: 2em;
  color: #333;
  margin: 0 0 10px 0;
}

.product-price {
  font-size: 1.2em;
  color: #007bff;
  margin: 5px 0;
}

.product-discount {
  font-size: 1.1em;
  color: #d9534f;
  font-weight: bold;
  margin: 5px 0;
}

.product-description {
  margin-top: 20px;
}

.product-description h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.product-description p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
}

.product-details {
  margin-top: 20px;
  font-size: 1.1em;
  color: #333;
}

.product-details p {
  margin: 5px 0;
}

.product-images {
  margin-top: 20px;
}

.product-images h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.product-images img {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.product-images img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.purchase-btn {
  position: fixed;
  bottom: 100px;
  right: 40px;
  background-color: blue; 
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: background-color 0.2s, transform 0.2s;
  z-index: 1000; 
}

.purchase-btn:hover {
  background-color: rgb(0, 81, 135);
  transform: scale(1.05);
}


/* Responsivnost */
@media (max-width: 768px) {
  .product-header h1 {
    font-size: 1.8em;
  }

  .product-price {
    font-size: 1.1em;
  }

  .product-description h2,
  .product-images h2 {
    font-size: 1.3em;
  }

  .product-description p,
  .product-details {
    font-size: 1em;
  }

  .product-images img {
    max-width: 100%;
  }
}

.chat-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  max-height: 500px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  border-radius: 8px;
  overflow: hidden;
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.chat-popup.show {
  transform: scale(1);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #6db33f;
  color: #fff;
}

.chat-header h2 {
  margin: 0;
  font-size: 16px;
}

.chat-header button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

