.add-service-container {
  width: 80%;
  margin: auto;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

.event-types {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.choose {
  margin-top: 20px;
  margin-bottom: 5px;
}

.event-card {
  flex: 0 0 auto;
  display: flex;
  cursor: pointer;
  width: 175px;
  height: 50px;
  background-color: #fff;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.event-card.selected {
  background-color: grey;
  color: black;
}

#serviceName, #serviceDescription, #reservationDue, #cancellationDue {
  width: 100%;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#serviceDescription {
  height: 175px;
  resize: vertical;
  text-align: left;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 20px;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-row label {
  margin-bottom: 8px;
}

.form-row input, .form-row textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.price-discount-container {
  display: flex;
  gap: 20px;
  width: 85%;
}

.price-discount-container input {
  flex: 1;
}

#price, #discount {
  width: 85%;
  background-color: #fff;
  margin-bottom: 15px;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.service-settings {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

.service-settings label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #555;
}

.duration-inputs {
  display: grid;
  grid-template-columns: 1fr 10px 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.duration-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.duration-group input {
  padding: 12px;
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
  width: 100%;
}

.duration-group input:focus {
  border-color: #4CAF50;
  outline: none;
}

.separator {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

#hour {
  margin-left: 120px;
}

#hours, #minutes {
  margin-top: 17px;
}

.total-duration {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

.total-duration input {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #e0f7fa;
  box-shadow: none;
  text-align: center;
  font-weight: bold;
  color: #00796b;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]:focus {
  border-color: #4CAF50;
}

label[for="reservationDue"], label[for="cancellationDue"] {
  font-size: 14px;
}

#reservationDue, #cancellationDue {
  width: 20%;
  margin-left: 30px;
  margin-right: 30px;
}

#due {
  margin-left: 12.5%;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.popup-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-buttons button:last-child {
  background-color: black;
  color: #fff;
}

.popup-buttons button:first-child {
  background-color: white;
  color: black;
}

#newCategory, #newDescription {
  margin-bottom: 20px;
  width: 98%;
}

.form-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown-section,
.image-upload,
.toggles {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

select,
input[type="file"],
button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.image-previews {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.image-preview {
  position: relative;
}

.image-preview img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  object-fit: cover;
}

.image-preview button {
  position: absolute;
  background-color: grey;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  font-size: 12px;
}

.image-upload h4 {
  margin-bottom: 10px;
}

.image-preview button:hover {
  background-color: grey;
}

.toggles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toggle-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s;
}

h4 {
  margin-top: 0;
}

img {
  width: 100%;
}

#description {
  margin-left: 25px;
  margin-right: 25px;
}

.toggles {
  display: flex;
  gap: 20px;
}

.toggle-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px; 
  height: 25px; 
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; 
  transition: 0.4s;
  border-radius: 34px; 
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white; 
  transition: 0.4s;
  border-radius: 50%; 
}

input:checked + .slider {
  background-color: black; 
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px black;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.cancel-button {
  background-color: black; 
  color: white;
}

.cancel-button:hover {
  background-color: black;
}

.cancel-button:focus {
  border-color: black;
  outline: none;
}

button:disabled {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
}

.add-category-button {
  margin-top: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: auto;
}

.add-category-button:hover {
  background-color: grey;
}