.events {
  padding: 20px;
  text-align: center;
}

.events h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.event-card {
  background: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  text-align: center;
}

.event-card img {
  max-width: 100%;
  max-height: 150px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.view-all {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.view-all:hover {
  text-decoration: underline;
}

.details-btn {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.details-btn:hover {
  background-color: #504c4c;
}
