<div class="event-type-management">
  <h2>Manage Event Types</h2>

  <!-- add new -->
  <div class="form-section" *ngIf="userRole === 'Admin'">
    <h3 (click)="showAddForm = !showAddForm" class="toggle-add">
        + Add Event Type
    </h3>

    <div class="add-form" *ngIf="showAddForm">
      <input [(ngModel)]="newEventType.name" placeholder="Name" />
      <input [(ngModel)]="newEventType.description" placeholder="Description" />

      <!-- checkbox za kategorije -->
      <label>Categories:</label>
      <div class="categories-div" *ngFor="let cat of categories">
        <input
          type="checkbox"
          [value]="cat.id"
          (change)="onCategoryChange(cat.id, $event, 'new')"
          [checked]="newEventType.selectedCategoryIds.includes(cat.id)"
        />
        {{ cat.name }}
      </div>

      <button (click)="addEventType()">Add</button>
    </div>
  </div>


  <!-- list all -->
  <div class="list-section">
    <h3>Existing Event Types</h3>
    <div *ngFor="let et of eventTypes" class="event-type-item">

      <div *ngIf="editingEventType?.id !== et.id">
        <strong>{{ et.name }}</strong> - {{ et.description }}
        <br />
        Categories:
        <span *ngFor="let cat of et.suggestedCategories; let last = last">
          {{ cat.name }}<span *ngIf="!last">, </span>
        </span>
        <br />
        Status: {{ et.active ? 'Active' : 'Inactive' }}

        <button *ngIf="userRole === 'Admin' || userRole === 'SPProvider'" (click)="startEditing(et)">Edit</button>
        <button *ngIf="userRole === 'Admin'" (click)="toggleActive(et)">{{ et.active ? 'Deactivate' : 'Activate' }}</button>
      </div>

      <!-- edit mode -->
      <div *ngIf="editingEventType?.id === et.id">
        <input [(ngModel)]="editingEventType.description" placeholder="Description" />

        <label>Categories:</label>
        <div class="categories-div"*ngFor="let cat of categories">
            <input
              type="checkbox"
              [value]="cat.id"
              (change)="onCategoryChange(cat.id, $event, 'edit')"
              [checked]="editingEventType.selectedCategoryIds.includes(cat.id)"
            />
            {{ cat.name }}
          </div>

        <button (click)="saveEdit()">Save</button>
        <button (click)="cancelEdit()">Cancel</button>
      </div>

    </div>
  </div>
</div>
