.event-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.event-header h1 {
  font-size: 2em;
  color: #333;
  margin: 0;
}

.event-date {
  font-size: 1.1em;
  color: #777;
  margin: 0;
}

.event-description {
  margin-top: 20px;
}

.event-description h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.event-description p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
}

.event-details {
  margin-top: 20px;
  font-size: 1.1em;
  color: #333;
}

.event-details p {
  margin: 5px 0;
}

.event-map {
  margin-top: 20px;
  text-align: center;
}

.event-map img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  margin-top: 15px;
}

/* Responsivnost */
@media (max-width: 768px) {
  .event-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .event-header h1 {
    font-size: 1.8em;
  }

  .event-date {
    font-size: 1em;
  }

  .event-description h2 {
    font-size: 1.4em;
  }

  .event-description p {
    font-size: 1em;
  }

  .event-details {
    font-size: 1em;
  }

  .event-map img {
    max-width: 100%;
  }
}

.fa-heart {
  transition: transform 0.2s;
}
.fa-heart:hover {
  transform: scale(1.2);
}

.pdf-btn {
  position: fixed;
  bottom: 40px; /* od dna */
  right: 40px;  /* od desno */
  background-color: green; 
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: background-color 0.2s, transform 0.2s;
  z-index: 1000; 
}

.pdf-btn:hover {
  background-color: rgb(00, 135, 00);
  transform: scale(1.05);
}

.budget-btn {
  position: fixed;
  bottom: 100px;
  right: 40px;
  background-color: blue; 
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: background-color 0.2s, transform 0.2s;
  z-index: 1000; 
}

.budget-btn:hover {
  background-color: rgb(0, 81, 135);
  transform: scale(1.05);
}

.chat-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  max-height: 500px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  border-radius: 8px;
  overflow: hidden;
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.chat-popup.show {
  transform: scale(1);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #6db33f;
  color: #fff;
}

.chat-header h2 {
  margin: 0;
  font-size: 16px;
}

.chat-header button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
