.password-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #edf0f4;
}

button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: black;
  color: white;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
